name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: 'stable'
        cache: true

    - run: go version
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
